{% extends 'header.html.twig' %}

{% block body %}
	<!-- Content Wrapper. Contains page content -->
	<div
		class="content-wrapper">
		<!-- Content Header (Page header) -->
		<div class="content-header">
			<div class="container-fluid">
				<div class="row mb-2">
					<div class="col-sm-6">
						<h1 class="m-0">Page d'accueil</h1>
					</div>
				</div>
				<!-- /.row -->
			</div>
			<!-- /.container-fluid -->
		</div>
		<!-- /.content-header -->

		<!-- Main content -->
		<div class="content">
			<div class="container-fluid">
				<div class="row">
					<div class="col-lg-6">
						<div class="card">
							<div class="card-body">
								<h5 class="card-title">Titre de la carte</h5>

								<p class="card-text">
									Un exemple de texte rapide pour construire sur le titre de la carte et constituer la majeure partie de la carte.
								</p>

								<a href="#" class="card-link">Lien de la carte</a>
								<a href="#" class="card-link">Un autre lien</a>
							</div>
						</div>

						<div class="card card-primary card-outline">
							<div class="card-body">
								<h5 class="card-title">Titre de la carte</h5>

								<p class="card-text">
									Un exemple de texte rapide à construire sur le titre de la carte et à constituer l'essentiel du contenu de la carte.
																																																																								                  content.
								</p>
								<a href="#" class="card-link">Lien de la carte</a>
								<a href="#" class="card-link">Un autre lien</a>
							</div>
						</div>
						<!-- /.card -->
					</div>
					<!-- /.col-md-6 -->
					
					<!-- /.col-md-6 -->
				</div>
				<!-- /.row -->
			</div>
			<!-- /.container-fluid -->
		</div>
		<!-- /.content -->
	</div>
	<!-- /.content-wrapper -->

	<!-- Main Footer -->
	<footer class="main-footer">
		<!-- Default to the left -->
		Copyright &copy;
		<strong>
			Bouygues Telecom
		</strong>
		| Tous les droits sont réservés.
	</footer>
{% endblock %}
