{% extends 'base.html.twig' %}

{% block title %}Modifiet un utilisateur
{% endblock %}

{% block body %}
	<h1>Modifiet un utilisateur</h1>

	{{ include('user/_form.html.twig', {'button_label': 'Modifier'}) }}

	<!--<a href="{{ path('user') }}">back to list</a>-->

	{{ include('user/_delete_form.html.twig') }}
{% endblock %}
