{% extends 'base.html.twig' %}

{% block title %}Nouvelle utilisateur
{% endblock %}

{% form_theme form 'bootstrap_4_layout.html.twig' %}
{% block body %}

	<h1>Nouvelle utilisateur</h1>
	{{ include('user/_form.html.twig') }}

	<!--<a href="{{ path('user') }}">back to list</a>-->
{% endblock %}
